body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.ui-width {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

#menu-toggler-checkbox {
  display: none;
}

label[for=menu-toggler-checkbox] {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  right: 0.5em;
  top: 0.5em;
  color: rgb(60, 88, 157);
  background-color: #fff;
  padding: 0.5em;
  display: grid;
  place-content: center;
  border-radius: 0.5em;
  border: solid 1px rgb(60, 88, 157);
  opacity: 0.9;
}

@media (min-width: 60rem) {
  label[for=menu-toggler-checkbox] {
    display: none;
  }
}
.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav.main-nav {
  background-color: rgb(60, 88, 157);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: none;
  place-items: center;
}
@media (min-width: 60rem) {
  nav.main-nav > .ui-width > ul {
    grid-auto-flow: column;
  }
}
nav.main-nav > .ui-width > ul > li {
  margin: 0 0.5rem;
}
nav.main-nav > .ui-width > ul > li .dropdown__title,
nav.main-nav > .ui-width > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  display: flex;
  padding: 1rem 0.5rem;
  border-top: 3px solid transparent;
}
@media (min-width: 60rem) {
  nav.main-nav > .ui-width > ul > li .dropdown__title,
  nav.main-nav > .ui-width > ul > li > a {
    transition: 280ms all 120ms ease-out;
    display: inline-flex;
  }
}
nav.main-nav > .ui-width > ul > li > a:hover, nav.main-nav > .ui-width > ul > li > a:focus,
nav.main-nav > .ui-width > ul > li .dropdown__title:hover,
nav.main-nav > .ui-width > ul > li .dropdown__title:focus {
  border-top-color: #e4e8f4;
  color: #e4e8f4;
}
nav.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
@media (min-width: 60rem) {
  nav.main-nav ul {
    display: grid;
  }
}
nav.main-nav ul li {
  padding: 0;
}

#menu-toggler-checkbox:checked + nav {
  display: block;
}

@media (min-width: 60rem) {
  nav.main-nav {
    display: grid;
  }
}
.dropdown {
  position: relative;
}
.dropdown .dropdown__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 60rem) {
  .dropdown .dropdown__title {
    width: auto;
    display: inline-flex;
  }
}
.dropdown .dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(255, 255, 255, 0.5);
  margin-left: 0.5em;
  transform: translateY(0.25em);
}
.dropdown .dropdown__menu {
  padding: 0.5em 0;
  border-radius: 0.25rem;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: none;
}
@media (min-width: 60rem) {
  .dropdown .dropdown__menu {
    display: block;
    position: absolute;
    transition: 280ms all 120ms ease-out;
    visibility: hidden;
    opacity: 0.3;
    min-width: 15ch;
    left: 50%;
    top: calc(100% - 0.25rem);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
  }
}
.dropdown .dropdown__menu a {
  color: #2a3e6e;
  display: block;
  padding: 0.5em;
  text-decoration: none;
}
@media (min-width: 60rem) {
  .dropdown .dropdown__menu a {
    opacity: 0;
    transition: 280ms all 120ms ease-out;
  }
}
.dropdown .dropdown__menu a:hover {
  background-color: rgba(60, 88, 157, 0.2);
}
.dropdown .dropdown__menu a:focus {
  background-color: rgba(60, 88, 157, 0.2);
}
.dropdown:hover .dropdown__title, .dropdown:focus-within .dropdown__title {
  border-top-color: #e4e8f4;
}
.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  display: block;
}
@media (min-width: 60rem) {
  .dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0) translateX(-50%);
  }
}
.dropdown:hover .dropdown__menu a, .dropdown:focus-within .dropdown__menu a {
  opacity: 1;
}
.dropdown:hover:after, .dropdown:focus-within:after {
  opacity: 1;
}
.dropdown:focus-within .dropdown__title {
  outline-offset: 1px;
  outline-color: #fff;
  outline-style: solid;
  outline-width: 1px;
  border-radius: 0.25rem;
  outline: -webkit-focus-ring-color auto 1px;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

header {
  background-color: rgba(60, 88, 157, 0.9);
  color: #fff;
  text-align: center;
  padding: 3rem;
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}
main:focus {
  outline: none;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f0f0f0;
}/*# sourceMappingURL=styles.css.map */