body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
$ui-width: 80ch;
$color: rgb(60, 88, 157);
$color-dark: scale-color($color, $lightness: -30%);
$transition: 280ms all 120ms ease-out;
$breakpoint: 60rem;
* {
  box-sizing: border-box;
}
.ui-width {
  max-width: $ui-width;
  margin-left: auto;
  margin-right: auto;
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
#menu-toggler-checkbox {
  display: none;
}
label[for="menu-toggler-checkbox"] {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  right: .5em;
  top: .5em;
  color: $color;
  background-color: #fff;
  padding: .5em;
  display: grid;
  place-content: center;
  border-radius: .5em;
  border: solid 1px $color;
  opacity: .9;
}
@media (min-width: $breakpoint) {
  label[for="menu-toggler-checkbox"] {
    display: none;
  }
}
.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}
nav.main-nav {
  background-color: $color;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: none;
  place-items: center;
  > .ui-width > ul {
    @media (min-width: $breakpoint) {
      grid-auto-flow: column;
    }
    > li {
      margin: 0 .5rem;
      .dropdown__title,
      > a {
        text-decoration: none;
        color: #fff;
        font-size: 1.125rem;
        display: flex;
        padding: 1rem 0.5rem;
        border-top: 3px solid transparent;
        @media (min-width: $breakpoint) {
          transition: $transition;
          display: inline-flex;
        }
      }
      > a,
      .dropdown__title {
        &:hover,
        &:focus {
          border-top-color: lighten($color, 50%);
          color: lighten($color, 50%);
        }
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    @media (min-width: $breakpoint) {
      display: grid;
    }
    li {
      padding: 0;
    }
  }
}
#menu-toggler-checkbox:checked + nav {
  display: block;
}
@media (min-width: $breakpoint) {
  nav.main-nav {
    display: grid;
  }
}
.dropdown {
  position: relative;
  .dropdown__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $breakpoint) {
      width: auto;
      display: inline-flex;
    }
    &:after {
      content: "";
      border: .35rem solid transparent;
      border-top-color: rgba(#fff, 0.5);
      margin-left: .5em;
      transform: translateY(.25em);
    }
  }
  .dropdown__menu {
    padding: .5em 0;
    border-radius: .25rem;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.2);
    background-color: #fff;
    display: none;
    @media (min-width: $breakpoint) {
      display: block;
      position: absolute;
      transition: $transition;
      visibility: hidden;
      opacity: .3;
      min-width: 15ch;
      left: 50%;
      top: calc(100% - 0.25rem);
      transform: rotateX(-90deg) translateX(-50%);
      transform-origin: top center;
    }
    a {
      color: $color-dark;
      display: block;
      padding: .5em;
      text-decoration: none;
      @media (min-width: $breakpoint) {
        opacity: 0;
        transition: $transition;
      }
      &:hover {
        background-color: rgba($color, 0.2);
      }
      &:focus {
        background-color: rgba($color, 0.2);
      }
    }
  }
  &:hover,
  &:focus-within {
    .dropdown__title {
      border-top-color: lighten($color, 50%);
    }
    .dropdown__menu {
      display: block;
      @media (min-width: $breakpoint) {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0) translateX(-50%);
      }
      a {
        opacity: 1;
      }
    }
    &:after {
      opacity: 1;
    }
  }
  &:focus-within {
    .dropdown__title {
      outline-offset: 1px;
      outline-color: #fff;
      outline-style: solid;
      outline-width: 1px;
      border-radius: .25rem;
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}
body {
  font-family: sans-serif;
  min-height: 100vh;
}
header {  
  background-color: rgba($color, 0.9);
  color: #fff;
  text-align: center;
  padding: 3rem;
}
main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
  &:focus {
    outline: none;
  }
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f0f0f0;
}